body {
	background: #C87548;
	color: #F0F2DF;
}

.container {
	width: 800px;
	margin: 0 auto;
}

h1 {
	font-size: 600%;
	margin: .25em 0;
	color: #63342C;
}

p {
	font-size: 150%;
	line-height: 1.5;
}

.quote {
	position: relative;
}

blockquote {
	font-size: 190%;
	font-style: italic;
	opacity: .7;
	margin: 1em 1em 0 1em;
}

blockquote:before {
	content: "\201C";
	font-size: 400%;
	opacity: .3;
	z-index: -100;
	left: -35px;
	top: -30px;
	width: 100px;
	position: absolute;
}

blockquote:after {
	content: "\201D";
	font-size: 400%;
	opacity: .3;
	z-index: -100;
	left: 700px;
	top: -30px;
	position: absolute;
	width: 100px;
}

.caption {
	margin: 0 1em 1em 1.3em;
}

.divider {
	border: 1px solid rgba(255,255,255,.3);
	clear: both;
}

.project {
	clear: both;
}

.description {
	float: left;
	width: 380px;
	padding: 10px;
	font-size: 66%;
}

.description h2 {
	font-size: 3em;
	margin: .25em 0 0 0;
}

.description h3 {
	font-size: 1.5em;
	margin: .25em 0;
	opacity: .8;
}

a, a:visited {
	color: #F0F2DF;
	opacity: .7;
}

.live_link:after{
	content:url(/img/external.png);
	opacity: .5;
	margin-left: 5px;
}

.image {
	float: right;
	width: 380px;
	padding: 10px;
}

img {
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.4);
}

i.alumni:after {
	content:url(/img/alumni.png);
	opacity: .3;
	margin-left: 10px;
}

.smaller {
	font-size: 500%;
}

.left {
	float: left;
	width: 380px;
	padding: 10px;
}

.right {
	float: right;
	width: 380px;
	padding: 10px;
}

.clear {
	clear: both;
}

.centered {
	text-align: center;
}

.button {
	margin: 0 auto;
	display: block;
	width: 175px;
	font-size: 24px;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	background: rgba(99,52,44,.7);
	border: 1px solid rgba(99,52,44,.85);
	border-radius: 10px;
	opacity: 1;
}

.button:hover {
	background: rgba(109,62,54,.7);
}

.footer {
	min-height:100px;
}